# WhatsApp number for pairing code. Indonesia example: 6281234567890
PAIRING_NUMBER=
AUTH_DIR=./session
TMP_DIR=./tmp
BOT_NAME=AMAR STR
OWNER_NAME=AMAR
PREFIX=!
LOG_LEVEL=info
PORT=3000
MAX_TIKTOK_MB=45
SNAKE_BEST=0

SPOTIFY_DEFAULT_URL=https://open.spotify.com/track/2UgCs0i0rNHUH2jKE5NZHE

CHANNEL_LINK=https://whatsapp.com/channel/0029VbDSA1x0VycEuBHgSF35
CHANNEL_JID=
MAX_EMOJI_COUNT=30
